# Dataset paths
data:
    dreamCh:
        pilot: /pilot
        train: /trainingData
        test : /testData
        metadata:
            dir: /metadata
            exams_metadata:   exams_metadata.tsv
            images_crosswalk: images_crosswalk.tsv

    InBreast:
        dicom: /data/DreamChallenge_mammo/INBreast/AllDICOMs
        roi:    /data/DreamChallenge_mammo/INBreast/AllROIs
        metadata:
            dir: /data/DreamChallenge_mammo/INBreast/meta
            images_crosswalk: images_crosswalk.tsv


# Preprocessing pipeline & applied methods
preprocessing:
    pipeline    : [modify, feature, adjsut]

    modify:
        # method      [resize, flip, trim, padding]
        pipeline    : [flip, trim, padding, resize]
    feature:
        # extraction  [orb, sift, surf]
        extraction  : surf
        # matchin:    [brute_force, flann]
        matching    : flann
    adjust:
        rule        : pass
        algo        : pass

# Preprocessing result root directory path
resultDir: /preprocessedData
logDir   : /preprocessedData/log/
