#!/bin/bash
nvidia-smi

# workdir : ./pre-processing/
# image preprocessing
python DREAM_DM_preprocessing.py --corpus dreamCh --dataset train --form class --valid 1 --processor 4 --queue train --exams_metada 1

# workdir : ./pre-processing/Torch
cd Torch

# build torch dataset 
th preprocess.lua

#workdir : ./
cd ../

# check result
RESULT_DIR='/preprocessedData'
echo "## Files in "$RESULT_DIR"/dreamCh"
ls $RESULT_DIR/dreamCh
echo "## Files in "$RESULT_DIR"/gen"
ls $RESULT_DIR/dreamCh/gen
echo "## number of '0' label in train"
ls $RESULT_DIR/dreamCh/train/0 | wc -l
echo "## number of '1' label in train"
ls $RESULT_DIR/dreamCh/train/1 | wc -l
