Cython==0.25.1
colorama==0.3.7
pydicom==0.9.9
easydict==1.6
h5py==2.6.0
matplotlib==1.5.3
numpy==1.11.0
pandas==0.19.1
scipy==0.18.1
setuptools==28.8.0
six==1.10.0
scikit_image==0.12.3
tornado==4.4.2
ipython==5.1.0
Pillow==3.4.2
cv2==1.0
Flask==0.11.1
python_gflags==3.1.0
protobuf==3.1.0.post1
progressbar2==3.11.0
pydot==1.2.3
pydotplus==2.0.2
scikit_learn==0.18.1
Werkzeug==0.11.11
PyYAML==3.12
